[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
nptyping = "*"
scipy = "*"

[dev-packages]
pylint = "*"
black = "*"
pandas = "*"

[requires]
python_version = "3.10.15"

[pipenv]
allow_prereleases = true
